.titulos{
	font-family: 'Bebas Neue', cursive;
	font-size: 3em;
} 
p {
	font-family: 'Montserrat', sans-serif;
}
body{
	margin: 0em;
}

.cover{
	height: 400px;
	background-image: url(backg.jpg);
	color: whitesmoke;
	background-size: cover;
	
	background-color: rgba(0, 0, 0, .5);
	background-blend-mode: darken;

}
.main{
  background-image: linear-gradient(180deg, whitesmoke, #e6e6e6);
}

.foot{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}
footer{
	width: 100%;
	background: #202020;
	color: white;
	
}

.container-footer-all{
	width: 100%;
	max-width:1200px ;
	margin: auto;
	padding:40px ;
}

.container-body{
	display: flex;
	justify-content: space-between;
}

.column1{
	max-width: 400px;
}

.column1 h1{
	font-size: 22px;
}

.column1 p {
	margin-top: 30px;
	font-size: 14px;
	color:  #c7c7c7;
}

.column2{
	max-width: 400px;
}
.column2 h1{
	font-size: 22px;
}
.column2 .row{
	display: flex;
	margin-top: 20px;
}

.row i{
	width: 25px;
	height: 36px;
}
}
.row label{
	margin-top: 10px;
	margin-left: 20px;
	color: #c7c7c7;
}

.column3{
	max-width: 400px;

}
.column3 h1 {
	font-size: 22px;

}
.row2{
	margin-top: 20px;
	display: flex;
}
.row2 i{
	width: 25px;
	height: 36px;
}

.row2 label{
	margin-top: 10px;
	margin-left: 0px;
	max-width: 200px;

}

.container-footer{
	max-width: 100%;
	background-color: #101010;
	
}

.copyright{
	color: #c7c7c7;
}
.footer{
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width: 1200px;
	padding: 20px;
}
.foot a{
	text-decoration: none;
	color:#c7c7c7 ;
}
.foot a:hover{
	color:whitesmoke ;
}
.container-fluid a{
	color: whitesmoke;
}
.container-fluid a:hover{
	color: #c7c7c7 ;
}

@media screen and (max-width: 1100px){
	.container-body{
		flex-wrap: wrap;
	}
	.column1{
		max-width: 100%;
	}
	.column2, .column3{
		margin-top: 40px;
	}
}

.btn-home{
	position: fixed;
	width: 55px;
	height: 55px;
	line-height: 55px;
	bottom: 30px;
	right: 30px;
	background: #297066;
	color: whitesmoke;
	border-radius: 50px;
	text-align: center;
	font-size: 30px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
	z-index: 100;
}
.btn-home:hover{
	background: #297066 ;
	color: grey;
}
.card-body a{
	text-decoration: none;
}

.imagensilla{
	transition: all 1s;
}
.imagensilla:hover{
	transform: scale(1.02);
}
.container-footer .mimarca{
	color: aqua;
}
.container-footer .mimarca:hover{
	color: #009999;
}

.responsive-iframe{
	position: relative;
	
	
}
.responsive-iframe iframe{
	position: ;
	top: 0;
	left: 0;
	width: 100%;
	
}